{
        "token" : "",
        "proxy_host" : "socks5://localhost:9050",
        "http_cameras": [
                { "host" : "192.168.0.2", "port" : 1234, "path" : "/PiCamera"  },
                { "host" : "192.168.0.5", "port" : 8890, "path" : "/example"  },
        ],
        "chats" : [
                174861972
        ]
}
